{% extends 'base.html' %} {% block container %}

<div id="query_div" class="bg-info placeholder">
	<!-- 搜尋 div -->
	<div class="row">
		<div class="col-md-12">
			<label for="query_keyword">關鍵字：</label> <input type="text" class="" id="query_keyword" placeholder="輸入關鍵字">
		</div>
	</div>
	<div class="row ">
		<div class="col-md-11">
			<label>地址：</label> <input type="text" size="5">里<input type="text" size="5">鄰<input type="text" size="5">路/街<input type="text" size="5">段<input type="text" size="5">巷<input
				type="text" size="5">弄<input type="text" size="5">號<input type="text" size="5">樓
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary" type="button">搜尋</button>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">列表:統計資料 統計。統計。統計。統計</div>
	<!-- 
	<div class="panel-body">
	</div>
	 -->
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><INPUT TYPE="checkbox"></th>
					<th>完成率</th>
					<th>狀態</th>
					<th>姓名</th>
					<th>地址</th>
					<th>店家</th>
					<th>動作</th>
				</tr>
			</thead>
			<tbody>
				{% for addr in addr_list %}
				<tr>
					<td><INPUT TYPE="checkbox"></td>
					<td>2</td>
					<td>燈號</td>
					<td>姓名/姓名</td>
					<td>{{ addr }}</td>
					<td>{{ addr.store}}</td>
					<td><button class="btn btn-success btn-sm" type="button">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 修改
						</button></td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
		<nav>
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li><a href="/visit/myVill/{{ page_obj.previous_page_number }}/" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li> {% endif %}
				<!-- 
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				 -->
				<li><a href="#">{{ page_obj.number }}</a></li>
				<!--
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				-->
				{% if page_obj.has_next %}
				<li><a href="/visit/myVill/{{ page_obj.next_page_number }}/" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				{% endif %}
				</a></li>
			</ul>
		</nav> 共{{ page_obj.paginator.num_pages }}頁
		<button class="btn btn-primary " type="button">
			<span class="glyphicon glyphicon-open" aria-hidden="true"></span> 匯出
		</button>
	</div>
</div>
{% endblock container %}
